body {
    text-align: center;
}

.doctorimg {
    width: 250px;
    height: 250px;
}

.try {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.fixed-panel {
    min-height: 400px;
    max-height: 400px;
    background-color: #19313c;
    color: white;
    overflow: auto;
}

.media-list {
    overflow: auto;
    clear: both;
    display: table;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: normal;
    line-break: strict;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 6px solid transparent;
    border-radius: 25px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-info {
    border-color: #0c2735;
}

.panel-info>.panel-heading {
    color: white;
    background-color: #0c2735;
    border-color: #0c2735;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #0c2735;
    border-top: 1px solid #0c2735;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.bg-light {
    background-color: #ffffff !important;
}

.pre {
    position: relative;
    margin-top: 2rem;
    display: flex;
    top: 50%;
    left: 50%;
}
