<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Alley</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/favicon.svg" rel="icon">
    <link href="/static/favicon.svg" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/static/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-xl-9 d-flex align-items-center">
                    <h1 class="logo mr-auto"><a href="/">Alley</a></h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="home.html" class="logo mr-auto"><img src="/static/img/logo.png" alt="" class="img-fluid"></a>-->

                    <nav class="nav-menu d-none d-lg-block">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="#about">Covid-19</a></li>

                            <li><a href="#testimonials">Team</a></li>

                            <li><a href="#features">About us</a></li>
                        </ul>
                    </nav>
                    <!-- .nav-menu -->

                    <a href="index" class="get-started-btn scrollto">Meet Alley...</a>
                </div>
            </div>

        </div>
    </header>
    <section id="hero" class="d-flex align-items-center">

        <div class="container-fluid" data-aos="fade-up">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1>Hello Buddy</h1>
                    <h2>Alley Here!!</h2>

                    <h2>I'm a health bot and ready to serve</h2>

                </div>
                <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
                    <img src="/static/img/emma-hero.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero -->

    <main id="main">

        <!-- ======= Covid-19 Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
                        <img src="/static/img/covid-19.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                        <h3>Covid-19 Alert</h3>
                        <p class="font-italic">
                            Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus. Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment. Older
                            people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness. The best way to prevent and slow down transmission
                            is to be well informed about the COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face.
                            The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by coughing
                            into a flexed elbow).
                        </p>
                        <ul>
                            <li><i class="icofont-check-circled"></i> Clean your hands often. Use soap and water, or an alcohol-based hand rub.</li>
                            <li><i class="icofont-check-circled"></i> Maintain a safe distance from anyone who is coughing or sneezing.</li>
                        </ul>
                        <a href="#" class="read-more">Read More <i class="icofont-long-arrow-right"></i></a>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Covid-19 Section -->




        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Hello Doctor</h2>
                    <p>Contact Us ,Get your treatement done online!!!</p>
                </div>

                <div class="owl-carousel testimonials-carousel">

                    <div class="testimonial-item">
                        <p>
                            <i class="bx "></i> Mail-id : jhonlee2026@careme.com <br>Contact no : 98460253xx
                            <i class="bx "></i>
                        </p>
                        <img src="/static/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Jhon lee</h3>
                        <h4>Dermatologist , Hyderabad</h4>
                    </div>

                    <div class="testimonial-item">
                        <p>
                            <i class="bx "></i> Mail-id : swathi.23@careme.com <br>Contact no : 95956023xx
                            <i class="bx "></i>
                        </p>
                        <img src="/static/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                        <h3>Sanyaa</h3>
                        <h4>Dental , Hyderabad</h4>
                    </div>

                    <div class="testimonial-item">
                        <p>
                            <i class="bx "></i> Mail-id : jhonlee2026@careme.com <br>Contact no : 9846025331
                            <i class="bx "></i>
                        </p>
                        <img src="/static/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                        <h3>Juli kane</h3>
                        <h4>Cardiologist</h4>
                    </div>

                    <div class="testimonial-item">
                        <p>
                            <i class="bx "></i> Mail-id : jhonlee2026@careme.com <br>Contact no : 9846025331
                            <i class="bx "></i>
                        </p>
                        <img src="/static/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                        <h3>Matt Brandon</h3>
                        <h4>Covid Guide</h4>
                    </div>

                    <div class="testimonial-item">
                        <p>
                            <i class="bx "></i> Mail-id : jhonlee2026@careme.com <br>Contact no : 9846025331
                            <i class="bx "></i>
                        </p>
                        <img src="/static/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                        <h3>John Larson</h3>
                        <h4>Neurologist</h4>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Testimonials Section -->










        <!-- ======= About us Section ======= -->
        <section id="features" class="features">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About us</h2>
                    <p>A chatbot is a software application used to conduct an on-line chat conversation via text or text-to-speech, in lieu of providing direct contact with a live human agent. Healthcare chatbots currently seem to be a mix of both patient-only
                        (apps that help a patient track and make sense of health data) and patient-clinician applications (apps that connect the two groups, for diagnosis, treatment, etc)

                    </p>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column align-items-lg-center">
                        <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-receipt"></i>
                            <h4>Created on 2020</h4>
                            <p>© 2020 Mbedtech</p>
                        </div>

                    </div>
                </div>

            </div>
        </section>
        <!-- End Features Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 footer-contact">
                        <h3>Alley</h3>
                        <p>
                            The Health Chat Bot

                        </p>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="home.html">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#about">Covid-19</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#testimonials">Team</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#features">About Us</a></li>
                        </ul>
                    </div>



                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Write to Us</h4>
                        <p>Team ALLEY</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Mail Us">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container ">

            <div class="copyright-wrap d-md-flex py-4 ">
                <div class="mr-md-auto text-center text-md-left">
                    <div class="copyright">
                        &copy; Copyright <strong><span>2020 Mbedtech</span></strong>
                    </div>
                    <div class="credits">

                    </div>
                </div>
            </div>

        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/static/vendor/php-email-form/validate.js"></script>
    <script src="/static/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="/static/vendor/counterup/counterup.min.js"></script>
    <script src="/static/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/static/vendor/venobox/venobox.min.js"></script>
    <script src="/static/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="/static/js/main.js"></script>

</body>

</html>
